<link href="../styles/change-password-style.css" rel="stylesheet" />
<div class="container col-xs-11" ng-cloak="">
    <div ng-include src="'../views/header-view.html'"></div>
    <div class="viewTitle col-xs-12">
        <h2>Change Password</h2>
    </div>
    <form class="col-md-4 col-xs-8 col-centered" ng-submit="changePassword()">
        <label for="changePasswordOld" class="col-md-7 col-xs-12">Old password</label>
        <input name="changePasswordOld" class="col-md-5 col-xs-12" type="password" ng-model="changePasswordOld" />

        <label for="changePasswordNew" class="col-md-7 col-xs-12">New password</label>
        <input name="changePasswordNew" class="col-md-5 col-xs-12" type="password" ng-model="changePasswordNew" />

        <label for="changePasswordConfirm" class="col-md-7 col-xs-12">Confirm password</label>
        <input name="changePasswordConfirm" class="col-md-5 col-xs-12" type="password" ng-model="changePasswordConfirm" />

        <input type="submit" value="Save Changes"/>
    </form>
</div>