<link href="../styles/edit-style.css" rel="stylesheet" />
<div class="container col-xs-11" ng-cloak="">
    <div ng-include src="'../views/header-view.html'"></div>
    <div class="viewTitle col-xs-12">
        <h2>Edit Profile</h2>
    </div>
    <form class="col-xs-10 col-centered clearfix" ng-submit="saveChanges()">
        <div id="image" class="col-md-4 col-xs-12 clearfix">
            <div class="profile-image col-lg-12" ng-if="me.profileImageData != null">
                <img ng-src="{{ me.profileImageData }}" />
            </div>
            <div class="profile-image col-xs-12" ng-if="me.profileImageData == null">
                <img src="../images/no-image.png" />
            </div>
            <div class="caption">
                <p>Allowed format: .jpg</p>
                <p>Limit: 128kb</p>
            </div>
            <input onchange="angular.element(this).scope().uploadProfileImage(this)" type="file" id="select-profile-image" accept="image/jpg" />
            <button ng-click="clickUploadProfileImage()" type="button" id="upload-profile-image">Upload</button>
        </div>
        <div id="other-info" class="col-md-7 col-xs-12">
            <label for="editName" class="col-md-4 col-xs-12">Name</label>
            <input class="col-md-8 col-xs-12" type="text" name="editName" ng-model="me.name" />

            <label for="editEmail" class="col-md-4 col-xs-12">Email</label>
            <input class="col-md-8 col-xs-12" type="email" name="editEmail" ng-model="me.email" />

            <label class="col-md-4 col-xs-12">Gender</label>
            <div id="radio-btns" class="col-md-8 col-xs-12">
                <input value="male" ng-checked="male" name="registerGender" type="radio" ng-model="selectMale" /> Male
                <input value="female" ng-checked="female" name="registerGender" type="radio" ng-model="selectFemale" /> Female
                <input value="other" ng-checked="other" name="registerGender" type="radio" ng-model="selectOther" /> Other
            </div>

            <input onchange="angular.element(this).scope().uploadBackgroundImage(this)" type="file" id="select-bg-image" accept="image/jpg" />
            <div class="upload clearfix col-sm-4 col-xs-12">
                <button ng-click="clickUploadBackgroundImage()" type="button">Upload</button>
                <p class="caption">Limit: 1024kb</p>
            </div>
            <div class="background-image col-sm-8 col-xs-12" ng-if="me.coverImageData != null">
                <img ng-src="{{ me.coverImageData }}" />
            </div>
            <div class="background-image col-sm-8 col-xs-12" ng-if="me.coverImageData == null">
                <img src="../images/no-bg-image.jpg" />
            </div>
        </div>
        <input type="submit" id="save-changes" value="Save Changes" />
    </form>
</div>