<link href="../styles/style-friends.css" rel="stylesheet" />
<div class="container col-xs-11">
    <div ng-include src="'../views/heading.html'"></div>
    <div class="viewTitle col-xs-12 clearfix">
        <h2>
            {{ name }} - Friends({{ numberOfFriends }} total)
        </h2>
    </div>
    <div id="all-friends" class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
        <div id="filter-box" class="col-xs-12">
            <label id="filter-label" class="col-lg-8 col-md-7 col-sm-5 col-xs-12" for="filter-name">Name filter: </label>
            <input ng-model="filterName" class="col-lg-4 col-md-5 col-sm-7 col-xs-12" type="text" id="filter-name"/>
        </div>
        <ul class="col-xs-12" id="friends-list">
            <li ng-click="selectFriend(friend.username)" class="col-sm-6 col-xs-12" ng-repeat="friend in allFriends | filter:filterName">
                <div ng-if="friend.profileImageData != null" class="col-sm-4 col-xs-5 all-friends-image">
                    <img ng-src="{{ friend.profileImageData }}" />
                </div>
                <div ng-if="friend.profileImageData == null" class="col-sm-4 col-xs-5 all-friends-image">
                    <img src="../images/no-image.png" />
                </div>
                <span class="col-sm-8 col-xs-7 all-friends-name">{{ friend.name }}</span>
            </li>
        </ul>
    </div>
</div>