form.col-centered {
    clear: both;
    float: none;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
}

form.col-centered input[type=submit]{
    width: 175px;
    height: 40px;
    background-color: #5B9BD5;
    color: white;
    border: 1px solid #41719C;
}