#news-feed-icon {
    font-size: 2em;
    margin-left: 10px;
}

h2 {
    vertical-align: middle;
}

.viewTitle {
    padding-top: 10px !important;
}

#news-feed {
    display: inline-block;
    float: left;
    margin-bottom: 25px;
    padding: 0;
    padding-right: 25px;
}

#friends-info {
    border: 1px solid black;
    display: inline-block;
    float: right;
    padding: 0;
}

    #friends-info h3 {
        padding: 0;
        margin: 5px 0 5px 10px;
        font-weight: bold;
    }

        #friends-info h3 a {
            font-size: 1em;
            text-decoration: underline;
        }

    #friends-info ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

        #friends-info li {
            display: inline-block;
            padding: 0;
            position: relative;
        }   

            #friends-info li:hover {
                cursor: pointer;
            }  

            #friends-info li div.friend-image {
                height: 120px;
                padding: 0;
            }
            
                #friends-info li div.friend-image img {
                    width: 100%;
                    height: 100%;
                } 
                
            #friends-info li span.friend-name {
                position: absolute;
                bottom: 2px;
                left: 0;
                color: black;
                font-weight: bold;
                font-size: 0.75em;
                text-align: center;
            }

 #news-feed-posts {
     padding: 0;
     margin: 0;
     list-style-type: none;
     float: right;
 }

 .news-feed-post {
     padding: 0;
 }

 .post {
     border: 1px solid black;
     padding: 15px 15px 0 15px;
     margin-bottom: 15px;
     position: relative;
 }

.post-user-image {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
}

    .post-user-image:hover {
        cursor: pointer;
    }

.post-info {
    display: inline-block;
}
    .post-info .post-author-name {
        font-weight: bold;
        font-size: 1em;
        color: black;
        margin-left: 5px;
        margin-bottom: 0;
    }

        .post-info .post-author-name:hover {
            cursor: pointer;
        }

    .post-info .post-date {
        font-size: 0.75em;
        color: #696969;
        font-style: italic;
        margin-left: 5px;
        margin-bottom: 0;
    }

.post-user-data {
    margin-bottom: 25px;
}

.post-content {
    margin-bottom: 15px;
}

    .post-content div {
        padding: 0;
    }

        .post-content div textarea {
            border: 1px solid black;
            width: 100%;
            padding: 5px 10px;
            font-size: 1em;
            margin-bottom: 5px;
        }

.button-group {
    display: inline-block;
    margin-right: 10px;
}

    .button-group img {
        width: 30px;
        vertical-align: top;
    }

    .button-group span {
        font-weight: bold;
    }

.post-buttons {
    text-align: right;
}

.like-unlike {
    text-decoration: underline;
    font-weight: normal !important;
}

    .like-unlike:hover {
        cursor: pointer;
    }

.comment {
    text-decoration: underline;
    font-weight: normal !important;
}

    .comment:hover {
        cursor: pointer;
    }

.add-comment {
    float: right;
    padding: 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

    .add-comment textarea {
        border: 1px solid black;
        width: 100%;
        height: 100px;
        padding: 5px 10px;
        font-size: 0.8em;
    }

        .add-comment textarea:focus {
            outline: none;
        }

    .add-comment input[type=button] {
        color: white;
        font-weight: bold;
        font-size: 0.8em;
        padding: 0 5px;
        margin: 0;
        border: 1px solid #41719C;
        background-color: #5B9BD5;
        float: right;
        clear: both;
    }

.comments {
    padding: 0;
    float: right;
}

.post-comments {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    .post-comments li {
        margin: 0;
        padding: 0;
    }

        .post-comments li .post-comment {
            border: 1px solid black;
            padding: 15px 15px 0 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }

            .post-comments li .post-comment .comment-author-image {
                width: 80px;
                height: 80px;
                display: inline-block;
                vertical-align: top;
            }

                .post-comments li .post-comment .comment-author-image:hover {
                    cursor: pointer;
                }

            .post-comments li .post-comment .comment-author-info {
                display: inline-block;
            }
                    
                .post-comments li .post-comment .comment-author-info .comment-author-name {
                    font-weight: bold;
                    font-size: 0.85em;
                    display: block;
                    margin-bottom: 0;
                }

                    .post-comments li .post-comment .comment-author-info .comment-author-name:hover {
                        cursor: pointer;
                    }

                .post-comments li .post-comment .comment-author-info .comment-date {
                    font-style: italic;
                    font-size: 0.7em;
                    color: #696969;
                    vertical-align: top;
                }

            .post-comments li .post-comment .comment-content {
                display: block;
                margin-top: 10px;
            }

                .post-comments li .post-comment .comment-content p {
                    margin: 0;
                }

            .post-comments li .post-comment .comment-buttons {
                width: 100%;
                text-align: right;
            }

                .post-comments li .post-comment .comment-buttons span.like-comment {
                    font-weight: bold;
                }

                    .post-comments li .post-comment .comment-buttons span.like-comment img {
                        width: 30px;
                        vertical-align: top;
                    }

               .post-comments li .post-comment .comment-buttons span.like-unlike-comment {
                   text-decoration: underline;
                }

                   .post-comments li .post-comment .comment-buttons span.like-unlike-comment:hover {
                       cursor: pointer;
                    }

.edit-delete-post {
    width: 75px;
    height: 30px;
    font-size: 0.8em;
    color: white;
    font-weight: bold;
    border: 1px solid #41719C;
    background-color: #5B9BD5;
    margin-left: 5px;
}

    .edit-delete-post:focus {
        outline: none;
    }

    .edit-delete-post:disabled {
        background-color: #808080 !important;
        border: 1px solid #696969 !important;
    }

.question {
    margin-bottom: 10px;
    text-align: right;
}
    
    .question span {
        font-size: 0.9em;
    }

    .question input[type=button] {
        font-weight: bold;
        color: white;
        font-size: 0.75em;
        border: 1px solid #41719C;
        background-color: #5b9bd5;
        margin-left: 5px;
    }

.edit-delete-comment-btns {
    margin-top: -9px;
}

    .edit-delete-comment-btns .edit-delete-comment {
        margin: 0;
        width: 70px;
        height: 25px;
        font-size: 0.7em;
        color: white;
        font-weight: bold;
        border: 1px solid #41719c;
        background-color: #5b9bd5;
        vertical-align: top;
    }

        .edit-delete-comment-btns .edit-delete-comment:disabled {
            background-color: #808080;
            border: 1px solid #696969;
        }

.comment-content div {
    padding: 0;
}

    .comment-content div  textarea {
        border: 1px solid black;
        width: 100%;
        padding: 5px 10px;
        font-size: 0.9em;
        margin-bottom: 5px;
    }

        .comment-content div  textarea:focus {
            outline: none;
        }

.more-comments-button {
    padding: 0;
}

    .more-comments-button input[type=button] {
        float: right;
        margin-top: -10px;
        margin-bottom: 15px;
        color: white;
        font-weight: bold;
        font-size: 0.75em;
        border: 1px solid #41719c;
        background-color: #5b9bd5;
    }

.user-hover-post {
    padding: 10px;
    border: 1px solid black;
    position: absolute;
    top: 43px;
    left: 126px;
    z-index: 2;
    background-color: white;
    width: 310px;
}

    .user-hover-post .user-post-image {
        width: 75px;
        height: 75px;
        display: inline-block;
        vertical-align: top;
    }

    .user-hover-post .user-post-info {
        display: inline-block
    }

        .user-hover-post .user-post-info .user-post-name-gender {
            width: 200px;
        }

            .user-hover-post .user-post-info .user-post-name-gender span {
                display: inline-block;
                font-weight: bold;
                font-size: 0.8em;
                color: black;
            }

            .user-hover-post .user-post-info .user-post-name-gender img {
                display: inline-block;
                width: 40px;
                height: 40px;
            }

        .user-hover-post .user-post-info .user-post-friend-button input[type=button]{
            width: 100px;
            padding: 0;
            color: black;
            border: 1px solid black;
            font-size: 0.8em;
            background-color: #9dc3e6;
        }

.user-hover-comment {
    padding: 10px;
    border: 1px solid black;
    position: absolute;
    top: 40px;
    left: 50px;
    z-index: 2;
    background-color: white;
    width: 310px;
}

    .user-hover-comment .user-comment-image {
        width: 75px;
        height: 75px;
        display: inline-block;
        vertical-align: top;
    }

    .user-hover-comment .user-comment-info {
        display: inline-block
    }

        .user-hover-comment .user-comment-info .user-comment-name-gender {
            width: 200px;
        }

            .user-hover-comment .user-comment-info .user-comment-name-gender span {
                display: inline-block;
                font-weight: bold;
                font-size: 0.8em;
                color: black;
            }

            .user-hover-comment .user-comment-info .user-comment-name-gender img {
                display: inline-block;
                width: 40px;
                height: 40px;
            }

        .user-hover-comment .user-comment-info .user-comment-friend-button input[type=button]{
            width: 100px;
            padding: 0;
            color: black;
            border: 1px solid black;
            font-size: 0.8em;
            background-color: #9dc3e6;
        }

@media(max-width: 770px) {
    #news-feed {
        padding-right: 0;
    }
}