* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/welcome-image.jpg");
    background-repeat: repeat;
    background-size: 500px;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: black;
}

.container {
    margin: 50px auto;
    float: none;
    background-color: white;
    padding: 25px;
    box-shadow: 10px 10px 20px black;
    border-radius: 5px;
}

    .container form {
        padding: 0;
    }

        .container form h3 {
            margin: 0;
            margin-bottom: 25px;
            font-size: 1.5em;
            font-weight: bold;
        }

        .container form label {
            display: inline-block;
            font-weight: normal;
            font-size: 0.9em;
        }

        .container form input[type=text],
        .container form input[type=password],
        .container form input[type=email] {
            display: inline-block;
            margin-bottom: 15px;
        }

.submit-button {
    border: 1px solid #41719C;
    background-color: #5B9BD5;
    color: white;
    width: 120px;
    height: 40px;
}

    .submit-button:hover {
        cursor: pointer;
    }

.buttons {
    width: 285px;
    margin: 0 auto;
}

.viewTitle {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 20px 0 20px 0;
}

    .viewTitle h2 {
        margin: 0;
        font-weight: bold;
    }
