p {
    display: inline-block;
    float: none;
}

a {
    display: inline-block;
    font-size: 0.9em;
}

.buttons {
    width: 255px;
    margin: 0 auto;
}

input[type=submit] {
    border: 1px solid black;
}