.user-bg-image {
    margin-top: 10px;
    width: 100%;
    height: 220px;
    position: relative;
    padding: 0;
    margin-bottom: 15px;
}

#user-data-container {
    position: absolute;
    top: 15px;
    left: 60px;
}

    .user-bg-image img {
        width: 100%;
        height: 100%;
    }

    .user-profile-image {
        width: 150px;
        height: 150px;
        display: inline-block;
    }

    #name-and-request {
        display: inline-block;
    }

    #user-name {
        color: white;
        font-weight: bold;
        font-size: 1.4em;
        vertical-align: top;
    }

    .request-button {
        color: black;
        border: 1px solid black;
        background-color: #9DC3E6;
    }

#user-wall {
    display: inline-block;
    float: left;
    margin-bottom: 25px;
    padding: 0;
    padding-right: 25px;
}

#post-box {
    border: 1px solid black;
    padding: 15px;
}

    #post-box textarea {
        width: 100%;
        border: 1px solid black;
        height: 75px;
        padding-left: 10px;
        font-size: 0.9em;
    }

    #post-box img {
        width: 35px;
        height: 35px;
        vertical-align: top;
    }

    #post-box p {
        margin: 0;
        padding: 0;
        display: inline;
        font-size: 0.85em;
    }

        #post-box p span.user-name {
            font-weight: bold;
        }

    #post-box input[type=button] {
        float: right;
        clear: both;
        margin-top: 5px;
        color: white;
        font-weight: bold;
        border: 1px solid #41719c;
        background-color: #5b9bd5;
    }

#friends-preview {
    border: 1px solid black;
    padding: 0;
    margin-top: 15px;
}

    #friends-preview h3 {
        padding: 0;
        margin: 5px 0 5px 5px;
        font-weight: bold;
    }

    #friends-preview ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

        #friends-preview ul li {
            display: inline-block;
            padding: 0;
            position: relative;
        }

            #friends-preview ul li .friend-image {
                height: 120px;
                padding: 0;
            }

            #friends-preview ul li .friend-name {
                position: absolute;
                bottom: 2px;
                left: 0;
                color: black;
                font-weight: bold;
                font-size: 0.75em;
            }

#user-wall-posts {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: right;
}   
        
    #user-wall-posts li.user-wall-post {
        padding: 0;
    }

        #user-wall-posts li.user-wall-post div.post {
            border: 1px solid black;
            padding: 15px 15px 0 15px;
            margin-bottom: 15px;
            position: relative;
        }

            #user-wall-posts li.user-wall-post div.post div.post-user-data {
                margin-bottom: 25px;
            }

                #user-wall-posts li.user-wall-post div.post div.post-user-data div.post-user-image {
                    width: 100px;
                    height: 100px;
                    display: inline-block;
                    vertical-align: top;
                }

                    #user-wall-posts li.user-wall-post div.post div.post-user-data div.post-user-image img {
                        width: 100%;
                        height: 100%;
                    }

                #user-wall-posts li.user-wall-post div.post div.post-user-data div.post-info {
                    display: inline-block
                }

                    #user-wall-posts li.user-wall-post div.post div.post-user-data div.post-info .post-author-name {
                        font-weight: bold;
                        font-size: 1em;
                        color: black;
                        margin-left: 5px;
                        margin-bottom: 0;
                    }

                    #user-wall-posts li.user-wall-post div.post div.post-user-data div.post-info .post-date {
                        font-size: 0.75em;
                        color: #696969;
                        font-style: italic;
                        margin-left: 5px;
                        margin-bottom: 0;
                    }

                    #user-wall-posts li.user-wall-post div.post div.post-user-data div.post-info .edit-delete-post {
                        width: 75px;
                        height: 30px;
                        font-size: 0.8em;
                        color: white;
                        font-weight: bold;
                        border: 1px solid #41719c;
                        background-color: #5b9bd5;
                        margin-left: 5px;
                    }
            
            #user-wall-posts li.user-wall-post div.post div.post-content {
                margin-bottom: 15px;
            }

                #user-wall-posts li.user-wall-post div.post div.post-content p {
                    margin-bottom: 10px;
                }

                #user-wall-posts li.user-wall-post div.post div.post-content div {
                    padding: 0;
                }

                    #user-wall-posts li.user-wall-post div.post div.post-content div textarea {
                        border: 1px solid black;
                        width: 100%;
                        padding: 5px 10px;
                        font-size: 1em;
                        margin-bottom: 5px;
                    }

                #user-wall-posts li.user-wall-post div.post div.post-content div.question {
                    padding: 0;
                    margin-bottom: 10px;
                    text-align: right;
                }

                    #user-wall-posts li.user-wall-post div.post div.post-content div.question span {
                        font-size: 0.9em;
                    }

                    #user-wall-posts li.user-wall-post div.post div.post-content div.question input[type=button] {
                        font-weight: bold;
                        color: white;
                        font-size: 0.75em;
                        border: 1px solid #41719c;
                        background-color: #5b9bd5;
                        margin-left: 5px;
                    }

            #user-wall-posts li.user-wall-post div.post div.post-buttons {
                text-align: right;
            }

                #user-wall-posts li.user-wall-post div.post div.post-buttons .button-group {
                    display: inline-block;
                    margin-right: 10px;
                }

                    #user-wall-posts li.user-wall-post div.post div.post-buttons .button-group span {
                        font-weight: bold;
                    }

                    #user-wall-posts li.user-wall-post div.post div.post-buttons .button-group img {
                        width: 30px;
                        vertical-align: top;
                    }

                    #user-wall-posts li.user-wall-post div.post div.post-buttons .button-group .like-unlike {
                        text-decoration: underline;
                        font-weight: normal !important;
                    }

                        #user-wall-posts li.user-wall-post div.post div.post-buttons .button-group .like-unlike:hover {
                            cursor: pointer;
                        }

                    #user-wall-posts li.user-wall-post div.post div.post-buttons .button-group .comment {
                        text-decoration: underline;
                        font-weight: normal !important;
                    }

                        #user-wall-posts li.user-wall-post div.post div.post-buttons .button-group .comment:hover {
                            cursor: pointer;
                        }

.add-comment {
    float: right;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

    .add-comment textarea {
        border: 1px solid black;
        width: 100%;
        height: 100px;
        padding: 5px 10px;
        font-size: 0.8em;
    }

    .add-comment input[type=button] {
        color: white;
        font-weight: bold;
        font-size: 0.8em;
        padding: 0 5px;
        margin: 0;
        border: 1px solid #41719c;
        background-color: #5b9bd5;
        float: right;
        clear: both;
    }

.comments {
    padding: 0;
    float: right;
}

.post-comments {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    .post-comments li {
        margin: 0;
        padding: 0;
    }

        .post-comments li .post-comment {
            border: 1px solid black;
            padding: 15px 15px 0 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }

            .post-comments li .post-comment .comment-author-image {
                width: 80px;
                height: 80px;
                display: inline-block;
                vertical-align: top;
            }

            .post-comments li .post-comment .comment-author-info {
                display: inline-block;
            }
                    
                .post-comments li .post-comment .comment-author-info .comment-author-name {
                    font-weight: bold;
                    font-size: 0.85em;
                    display: block;
                    margin-bottom: 0;
                }

                .post-comments li .post-comment .comment-author-info .comment-date {
                    font-style: italic;
                    font-size: 0.7em;
                    color: #696969;
                    vertical-align: top;
                }

            .post-comments li .post-comment .comment-content {
                display: block;
                margin-top: 10px;
            }

                .post-comments li .post-comment .comment-content p {
                    margin: 0;
                }

            .post-comments li .post-comment .comment-buttons {
                width: 100%;
                text-align: right;
            }

                .post-comments li .post-comment .comment-buttons span.like-comment {
                    font-weight: bold;
                }

                    .post-comments li .post-comment .comment-buttons span.like-comment img {
                        width: 30px;
                        vertical-align: top;
                    }

               .post-comments li .post-comment .comment-buttons span.like-unlike-comment {
                   text-decoration: underline;
                }

                   .post-comments li .post-comment .comment-buttons span.like-unlike-comment:hover {
                       cursor: pointer;
                    }

.edit-delete-comment-btns {
    margin-top: -9px;
}

    .edit-delete-comment-btns .edit-delete-comment {
        margin: 0;
        width: 70px;
        height: 25px;
        font-size: 0.7em;
        color: white;
        font-weight: bold;
        border: 1px solid #41719c;
        background-color: #5b9bd5;
        vertical-align: top;
    }

        .edit-delete-comment-btns .edit-delete-comment:disabled {
            background-color: #808080;
            border: 1px solid #696969;
        }

@media (max-width: 600px) {
    .user-bg-image {
        height: 280px;
    }
}